@model NotebookWebApp.Models.Notebook

@{
    ViewBag.Title = "Ноутбук";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Notebook</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Model)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Model)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Price)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RAM)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RAM)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HDD)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HDD)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Monitor)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Monitor)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <button type="button" onclick="location.href='@Url.Action("Index", "Notebook")'">Отменить</button>
        <input type="submit" value="Удалить" /> |
    </p>
}
