@model NotebookWebApp.Models.Manufacturer

@{
    ViewBag.Title = "Производители";
}

<h2>Удалить производителя</h2>
<hr />
<h3>Вы действительно хотите удалить производителя?</h3>
<fieldset>
    <legend>Производитель</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Address): @Html.DisplayFor(model => model.Address)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Site): @Html.DisplayFor(model => model.Site)
    </div>

</fieldset>
@using (Html.BeginForm()) {
    <p>
        <button type="button" onclick="location.href='@Url.Action("Index", "Manufacturer")'">Отменить</button>
        <input type="submit" value="Удалить" />
    </p>
}
