@model NotebookWebApp.Models.Manufacturer

@{
    ViewBag.Title = "Производители";
}

<h2>Изменить информацию про производителя</h2>
<hr />
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Manufacturer</legend>

        @Html.HiddenFor(model => model.ManufacturerID)

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Address)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Address)
            @Html.ValidationMessageFor(model => model.Address)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Site)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Site)
            @Html.ValidationMessageFor(model => model.Site)
        </div>

        <p>
            <button type="button" onclick="location.href='@Url.Action("Index", "Manufacturer")'">Отменить</button>
            <input type="submit" value="Сохранить" />
        </p>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
