@model IEnumerable<NotebookWebApp.Models.Manufacturer>

@{
    ViewBag.Title = "Производители";
}

<h2>Список производителей ноутбуков</h2>

<hr />
<table style="border-spacing: 7px; border-collapse: separate; width: 100%;">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Site)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Site)
        </td>
         <td>
            <button type="button"onclick="location.href='@Url.Action("Edit", "Manufacturer", new { id=item.ManufacturerID })'">Редактировать</button>
            <button type="button"onclick="location.href='@Url.Action("Delete", "Manufacturer", new { id=item.ManufacturerID })'">Удалить</button>
        </td>
    </tr>
}

</table>
<hr />
<p>
    <button type="button" onclick="location.href='@Url.Action("Create", "Manufacturer")'">Добавить</button>
</p
