@model NotebookWebApp.Models.Processor

@{
    ViewBag.Title = "Процессоры";
}

<h2>Удалить процессор</h2>
<hr />
<h3>Вы действительно хотите удалить процессор?</h3>
<fieldset>
    <legend>Processor</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Model): @Html.DisplayFor(model => model.Model)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Frequency):  @Html.DisplayFor(model => model.Frequency)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Socket): @Html.DisplayFor(model => model.Socket)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Cores): @Html.DisplayFor(model => model.Cores)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <button type="button" onclick="location.href='@Url.Action("Index", "Processor")'">Отменить</button>
        <input type="submit" value="Удалить" />
    </p>
}
